.footer {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 28px 23px;
}

.footer-hashtag {
  margin-bottom: 32px;
}

.footer-social {
  margin-bottom: 40px;
}

.social-list {
  display: flex;
  gap: 6px;
}

.social-link {
  width: 48px;
  height: 48px;
  color: white;
  fill: currentColor;
}

.social-link:active {
  background-color: #5496BD;
  fill: rgb(255, 255, 255, 0.3);
}

.copyright {
  line-height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.copyright-image {
  width: 28px;
  height: 36px;
  display: block;
}

.copyright-image:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 36px 60px;
    justify-content: space-between;
  }

  .footer-hashtag,
  .footer-social {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 36px 120px;
  }
}
