.form {
  text-align: left;
  /* padding-top: добавить; */
}

.form-fieldset {
  border: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 24px;
}

.form-legend {
  padding-top: 20px;
  text-align: center;
}

