.form {
  text-align: left;
  padding-bottom: 28px;
  line-height: 26px;
}

.form-fieldset {
  position: relative;

  margin-inline-start: 0px;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: unset;

  border: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px 24px;
  margin-bottom: 20px;
}

.form-field:not(:last-child) {
  margin-bottom: 20px;
}

.form-legend {
  text-align: center;
  margin-bottom: 20px;
}

.form-legend::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}

.form-label {
  display: flex;
  justify-content: left;
}

.form-label__vertical {
  flex-direction: column;
}

.form-label-text {
  display: block;
  align-self: center;
  margin-right: 12px;
}

.form-label__vertical .form-label-text {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 22px;
  padding-right: 22px;
}

.form-input {
  height: 58px;
  width: 100%;
  background-color: #F2F2F2;
  border: 0;
  padding: 18px 22px 14px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

input.form-input {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-input:hover {
  background-color: #E5E5E5;
}

.form-input:focus {
  border: 4px solid #E5E5E5;
  background-color: #FFFFFF;
}

.form-label__select .form-input {
  height: 56px;
  width: 56px;
  margin-right: 22px;
}

.form-label__select>.form-label-text {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form-textarea {
  height: 160px;
  resize: none;
  margin-bottom: 4px;
  text-transform: none;
}

.form-submit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.form-submit {
  margin-bottom: 16px;
}

.form-mark-description {
  display: block;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-icon-wrapper {
  display: flex;
  width: 58px;
  height: 58px;
  background-color: #E6E6E6;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.radio-input:checked+.custom-radio::after {
  opacity: 1;
}

.radio-input:focus+.custom-radio {
  outline-style: auto;
  outline-color: blue;
  outline-width: 2px;
}

.custom-radio:hover {
  background-color: #E5E5E5;
}

.radio-input:active+.custom-radio {
  background-color: #D5D5D5;
}

.radio-input:active+.custom-radio .checkbox-tick {
  opacity: 0.3
}

.checkbox-input:checked+.custom-checkbox .checkbox-tick {
  opacity: 1;
}

.checkbox-input:focus+.custom-checkbox {
  outline-style: auto;
  outline-color: blue;
  outline-width: 2px;
}

.custom-checkbox:hover {
  background-color: #E5E5E5;
}

.checkbox-input:active+.custom-checkbox {
  background-color: #D5D5D5;
}

.checkbox-input:active+.custom-checkbox .checkbox-tick {
  opacity: 0.3;
}
