.form {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 28px;
  line-height: 26px;
}

/* .form-fieldset::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
} */

.form-fieldset {
  border: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px 24px;
}

.form-field:not(:last-child) {
  margin-bottom: 20px;
}

.form-legend {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  display: flex;
  justify-content: left;
}

.form-label__vertical {
  flex-direction: column;
}

.form-label-text {
  display: block;
  align-self: center;
  margin-right: 12px;
}

.form-label__vertical>.form-label-text {
  align-self: flex-start;
  padding-left: 22px;
  margin: 0;
  margin-bottom: 5px;
}

.form-input {
  height: 58px;
  width: 100%;
  padding-left: 22px;
}

.form-label__select>.form-input {
  height: 56px;
  width: 56px;
  margin-right: 22px;
}

.form-label__select>.form-label-text {
  text-transform: none;
}

.form-textarea {
  padding: 18px 22px 14px;
  height: 160px;
  resize: none;
  margin-bottom: 24px;
}
