.header {
  color: #000000;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  height: 56px;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo-border {
  display: none;
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-button {
  height: 56px;
  width: 56px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;

  height: 22px;
  width: 23px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: 20px;
  margin-top: 17px;
  background-color: #81B3D2;
}

.line {
  width: 23px;
  height: 5px;
  display: block;
  background-color: white;
  margin-top: 4px;
}

.menu-button:active {
  background-color: rgb(129, 179, 210, 0.3);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-item {
  font-weight: 700;
  height: 56px;
  line-height: 16px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}

.menu-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #A7CAE0;
}


.menu-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 36px);
  margin-left: 20px;
  margin-right: 20px;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
}

.menu-link:active {
  background-color: #5496BD;
  color: rgb(255, 255, 255, 0.3);
}
