.header {
  color: #000000;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 56px;
  line-height: 16px;
}

.menu-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 36px);
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-device-width: 320px) {
  .menu-list {
    flex-direction: column;
  }

  .menu-item {
    background-color: #81B3D2;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
  }

  .menu-link {
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    /* why flex-grow: 1; not work? */
  }
}
