.header {
  position: relative;
  color: #000000;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  height: 56px;
}

.header button {
  margin-left: auto;
  margin-right: 20px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 100; */
}

.logo-border {
  display: none;
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-button {
  height: 56px;
  width: 56px;
  background-color: pink;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 56px;
  line-height: 16px;
  background-color: #81B3D2;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
}

.menu-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 36px);
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
}
