.main-section-reason {
  background-color: #eeeeee;
}

.main-section-reason-desc__blue-block {
  background-color: #81b3d2;
  color: #ffffff;
}

.main-section-reason-header {
  color: #000000;
}

.main-section-reason-desc__blue-block .main-section-reason-header {
  color: #ffffff;
}
