.main-section-header {
  color: #000000;
}

.main-section-text {
  line-height: 26px;
}

.main-section-image-1 {
  height: 260px;
  background-image: url("/images/photo-city@1x.jpeg");
  background-position: center;
  background-color: #758777;
}

.main-section-image-2 {
  height: 260px;
  background-image: url("/images/photo-bridge@1x.jpeg");
  background-position: center;
  background-color: #dfa991;
}

.main-interested-header {
  color: #000000;
}
