.main-interested {
  padding: 38px 20px 48px;
}

.main-interested-header {
  margin-bottom: 24px;
}

.main-interested-text {
  margin-bottom: 24px;
}

.main-interested-link {
  width: 280px;
  height: 56px;
  background-color: #81b3d2;
  color: #ffffff;
}
