.main-banner {
  background-color: #84bfe4;
  background-image: url("/images/back-desktop.jpeg");
  background-position: center;
  height: 390px;
  background-size: cover;
  position: relative;
  padding: 90px 20px 87px;
  margin-bottom: 32px;
}

.banner-img {
  width: 280px;
  height: 212px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.form-main-banner {
  height: 158px;
  padding: 50px 46px 68px;
}

.form-banner-img {
  width: 230px;
  height: 40px;
}
