.main-section-reason {
  background-color: #eeeeee;
  position: relative;
}

.main-section-reason:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 280px;
  height: 1px;
  background-color: #D6D6D6;
}

.main-section-reason-desc {
  padding: 24px 32px 24px;
  position: relative;
}

.main-section-reason-text:not(:last-child) {
  margin-bottom: 14px;
}

.main-section-reason-header {
  color: #000000;
  margin-bottom: 14px;
}

.main-section-reason-desc__blue_block {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 36px 0px 0px;
}

.main-section-reason-desc__blue_block .main-section-reason-header {
  color: #ffffff;
  margin-bottom: 12px;
}

.main-section-reason-desc__blue_block .main-section-reason-text {
  padding-left: 20px;
  padding-right: 20px;
}

.main-section-reason-desc__blue_block .main-section-reason-text:not(:last-of-type) {
  margin-bottom: 16px;
}

.main-section-reason-desc__blue_block .main-section-reason-text:last-of-type {
  margin-bottom: 36px;
}

.main-section-reason-image {
  height: 256px;
  background-position: center;
}

.main-section-reason-image__city {
  background-image: url("/images/photo-city@1x.jpeg");
  background-color: #758777;
}

.main-section-reason-image__bridge {
  background-image: url("/images/photo-bridge@1x.jpeg");
  background-color: #dfa991;
}

@media (min-width: 768px) {
  .main-section-reason {
    display: flex;
    flex-wrap: wrap;
  }

  .main-section-reason-desc {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .main-section-reason-image {
    width: 100%;
  }

  @media (min-width: 1200px) {}
}
