.main-section-subreasons {
  text-align: left;
  background-color: #ffffff;
}

.main-section-subreason {
  display: flex;
  gap: 12px;
}

.main-section-subreason-icon {
  fill: #81B3D2;
}

.main-section-subreason-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-section-subreason-header {
  color: #000000;
}
