.main-banner {
  background-color: #84bfe4;
  background-image: url("/images/back-desktop.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 390px;
  position: relative;
  margin-bottom: 32px;
}

.banner-img {
  width: 87.5%;
  height: 55%;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  fill: white;
}

.banner-img .welcome {
  fill: #81B3D3;
}

.banner-img .under-welcome {
  fill: #766458;
}

.form-main-banner {
  height: 158px;
}

.form-banner-img {
  width: 230px;
  height: 40px;
  top: 50px;
}


@media (min-width: 768px) {
  .main-banner {
    height: 518px;
    margin-bottom: 42px;
  }

  .banner-img {
    height: 67%;
    top: 15%;
  }
}

@media (min-width: 1200px) {
  .main-banner {
    margin-bottom: 56px;
  }
}
