.main-section-header {
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 28px;
}

.main-section-text {
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 14px;
}

.main-section-image {
  height: 256px;
  background-position: center;
}

.main-section-image__city {
  background-image: url("/images/photo-city@1x.jpeg");
  background-color: #758777;
}

.main-section-image__bridge {
  background-image: url("/images/photo-bridge@1x.jpeg");
  background-color: #dfa991;
}

.main-interested-header {
  color: #000000;
}
