.main-section-subreasons {
  text-align: left;
  background-color: #ffffff;
  padding: 28px 20px 36px;
}

.main-section-subreason-item:not(:last-child) {
  margin-bottom: 18px;
}

.main-section-subreason-card {
  display: flex;
  gap: 12px;
}

.main-section-subreason-icon {
  fill: #81B3D2;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.main-section-subreason-content {
  padding-top: 8px;
}

.main-section-subreason-header {
  color: #000000;
  margin-bottom: 16px;
}
