.map {
  background-color: #C9E0AA;
  width: 100%;
  height: 350px;
  background-image: url(/images/map-desktop.jpeg);
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.map-market {
  width: 27px;
  height: 27px;
  background-color: #81B3D3;
  border-width: 5px;
  border-color: #FFFFFF;
  border-radius: 50%;
  border-style: solid;
}
