.blue-button {
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
