ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  font-family: inherit;
  cursor: pointer;
}
